@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    background-color: white;
    position: fixed;
    z-index: 99999;
    height: 100px;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__list .nav__item {
    list-style: none;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(219, 9%, 45%);
    font-weight: 500;
}

.nav__item--left{
    margin: 0 300px 0 150px;
    font-size: 25px;
    font-weight: 600;
    color: #4D68B6;
}

.nav__item--right{
    margin-left: 300px;
}

.nav__item-image{
    width: 50px;
}

.nav__item a{
    text-decoration: none;
    color:hsl(219, 9%, 45%);
}

main{
    padding-top:8rem;
}

.poster__title{
    margin-top: 30px;
    margin-left: 250px;
    font-size: 30px;
    font-weight: 600;
    color: #4D68B6;
}

#container{
    margin: 0 auto;
    margin-top: 7.5rem;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 120px;
    grid-row-gap: 90px;
}

.title{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.price{
    margin: 20px 0;
}

.imagen {
    width: 100%;
    aspect-ratio: 1;
}

.button__agregar {
    padding: 15px 80px;
    font-size: 16px;
    font-weight: 600;
    border: unset;
    background-color: #F3E060;
    border-radius: 10px;
}

.button__agregar:hover{
    cursor: pointer;
}

footer{
    margin-top: 5rem ;
    background-color: #4D68B6;
    height: 100px;
    display: grid;
    place-content: center;
}

footer p{
    text-align: center;
    font-weight: 600;
    color: white;
}